<div class="profile">
    <div class="profile__back">
        {{{ button }}}
    </div>
    <div class="profile__settings">
        <div class="profile__settings-head">
            <div class="profile__avatar">
            </div>
        </div>
        {{{ form }}}
    </div>
</div>
