<div class="chat__menu">
    <div class="navigation">
        <div class="navigation__profile-link-wrapper">

        {{{ button }}}
        </div>
        {{{ search }}}
    </div>
    {{{ chats }}}
</div>
