<div class="profile">
    <div class="profile__back">
        {{{ button }}}
    </div>
    <div class="profile__settings">
        <div class="profile__settings-head">
            <div class="profile__avatar">
<!--                <p class="profile__avatar-text">Change</p>-->
<!--                <p class="profile__avatar-text">avatar</p>-->
            </div>
        </div>
        {{{ form }}}
    </div>
</div>
