<div class="chat__block">
    <div class="chat__position-fixer">
        <div class="chat__box">
            <div class="chat__avatar"></div>
            <div class="chat__info">
                <p class="chat__name hide__long">{{ this.name }}</p>
                <p class="chat__message-preview hide__long">{{ this.lastMessage }}</p>
            </div>
        </div>
        <div class="chat__data">
            <p class="chat__time">{{ this.lastMessageTime }}</p>
            <div class="message__quantity-box">
                <p class="message__quantity">{{ this.unreadMessagesCount }}</p>
            </div>
        </div>
    </div>
</div>