<li class="chat__block">
    <div class="chat__position-fixer">
        <div class="chat__box">
            <div class="chat__avatar"></div>
            <div class="chat__info">
                <p class="chat__name hide-long">{{{ name }}}</p>
                <p class="chat__message-preview hide-long">{{{ lastMessage }}}</p>
            </div>
        </div>
        <div class="chat__data">
            <p class="chat__time">{{{ lastMessageTime }}}</p>
            <div class="message-quantity-box">
                <p class="message-quantity">{{{ unreadQuantity }}}</p>
            </div>
        </div>
    </div>
</li>
