.chat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.chat__menu {
    display: flex;
    width: 320px;
    background-color: @middleGray;
    border-right: 1px solid @borderGray;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 110px;
    border-bottom: 1px solid @borderGray;
}

.navigation__profile-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.navigation__profile-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    line-height: 32px;
}

.navigation__profile {
    font-style: 12px;
    color: @darkGray;
    font-weight: 500;
}

.navigation__profile-arrow {
    border: solid @darkGray;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
}

.arrow__right {
    transform: rotate(-45deg);
}

.search__input {
    border: none;
    height: 32px;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    text-align: center;
    background: @inputGray url(/static/images/loupe.svg) 40% no-repeat;
    &:focus {   
        border-color: @darkGray;
        outline: none;
        background: none;
        background-color: @inputGray;
        padding: 0;
    }
}

.chat__block {
    border-bottom: 1px solid @borderGray;
    height: 70px;
    width: 95%;
}

.chat__position-fixer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.chat__avatar {
    width: 47px;
    height: 47px;
    background-color: @inputGray;
    border-radius: 90px;
}

.chat__box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.chat__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

.chat__name {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    margin: 0;
}

.chat__message-preview {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: @darkGray;
    margin: 0;
}

.hide__long {
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat__data {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 47px;
    align-items: center;
}

.chat__time {
    font-size: 9px;
    line-height: 13px;
    text-align: right;
    font-weight: 500;
    color: @darkGray;
    margin: 0;
}

.message__quantity-box {
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: @black;
    border-radius: 90px;
    display: flex;
}

.message__quantity {
    color: @white;
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    margin: auto;
}

