<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../main.less">
    </head>
    <body>
        <main class="chat">
            <div class="chat__menu">

                <div class="navigation">

                    <div class="navigation__profile-link-wrapper">
                        <a href="./profile.hbs" class="navigation__profile-link">
                            <p class="navigation__profile">Profile</p>
                            <div class="navigation__profile-arrow arrow__right"></div>
                        </a>
                    </div>

                    <input class="search__input" placeholder="search" onfocus="this.placeholder=''" onblur="this.placeholder='search'">
                </div>

                <!-- chat block -->
                <div class="chat__block">
                    <div class="chat__position-fixer">

                        <!-- avatar name message -->
                        <div class="chat__box">
                            <!-- avatar -->
                            <div class="chat__avatar"></div>
                            <!-- name message -->
                            <div class="chat__info">
                                <p class="chat__name hide__long">Name</p>
                                <p class="chat__message-preview hide__long">Some text for example to try overflow</p>
                            </div>
                        </div>
                        <!-- date and quantity -->
                        <div class="chat__data">
                            <p class="chat__time">10:47</p>
                            <div class="message__quantity-box">
                                <p class="message__quantity">7</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- chat block -->
                <div class="chat__block">
                    <div class="chat__position-fixer">

                        <!-- avatar name message -->
                        <div class="chat__box">
                            <!-- avatar -->
                            <div class="chat__avatar"></div>
                            <!-- name message -->
                            <div class="chat__info">
                                <p class="chat__name hide__long">Name</p>
                                <p class="chat__message-preview hide__long">Some text for example to try overflow</p>
                            </div>
                        </div>
                        <!-- date and quantity -->
                        <div class="chat__data">
                            <p class="chat__time">10:47</p>
                            <div class="message__quantity-box">
                                <p class="message__quantity">7</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- chat block -->
                <div class="chat__block">
                    <div class="chat__position-fixer">

                        <!-- avatar name message -->
                        <div class="chat__box">
                            <!-- avatar -->
                            <div class="chat__avatar"></div>
                            <!-- name message -->
                            <div class="chat__info">
                                <p class="chat__name hide__long">Name</p>
                                <p class="chat__message-preview hide__long">Some text for example to try overflow</p>
                            </div>
                        </div>
                        <!-- date and quantity -->
                        <div class="chat__data">
                            <p class="chat__time">10:47</p>
                            <div class="message__quantity-box">
                                <p class="message__quantity">7</p>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </main>
    </body>
</html>