<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../src/main.less">
</head>

<body>
  <main>
    {{> entranceForm loginPageData}}
    <div>
        <a href="../../src/pages/notFoundError.hbs" hidden></a>
        <a href="../../src/pages/serverError.hbs" hidden></a>
    </div>
  </main>
</body>

</html>