{{#extend "index"}}
  {{#content "main"}}
    <main>
      <div class='login'>
      {{!-- <div class="{{login.style.login}}"> --}}
        {{> login/loginTitle }}
        <form class="{{loginData.style.loginForm}}">
          {{> login/formField loginData.loginField }}
          {{!-- {{#block "formField"}} {{/block}} --}}
        </form>
        {{!-- 
            <form className="login__form">
                <label htmlFor='password' className='login__label'>Email</label>
                <input className='login__input' name='email' type='email'
                       minLength='2' required/>
                <span className='login__input-error'>Что-то пошло не так...</span>

                <label htmlFor='password' className='login__label'>Пароль</label>
                <input className='login__input login__input_password' name='password' type='password'
                       minLength='4' required/>
                <span className='login__input-error'>Что-то пошло не так...</span>

                <button className='login__button' type='submit'>Войти</button>
                <div className={'login__box'}>
                    <p className="login__text">Ещё не зарегистрированы?</p>
                    <Link to='/signup'><p className="login__link">Регистрация</p></Link>
                </div>
            </form> --}}
      </div>
    </main>
  {{/content}}
{{/extend}}