<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../main.less">
    </head>
    <body>
        <main class="error">
            {{> errors/errorInfo errorPagesData.notFound }}
            
            {{> buttons/redirectBtn errorPagesData.notFound.redirect }}
        </main>
    </body>
</html>