<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../main.less">
    </head>
    <body>
        <div class="profile">

            <div class="profile__back">

                <!-- Template #1 -->
                <div class="profile__back-button">
                    
                    <!-- <div class="arrow arrow__left"> -->
                            <!-- <a class="profile__back-link" href="chat.html"></a> -->
                            <!-- <a class="profile__back-link" href="./main.html"></a> -->
                    <!-- </div> -->
                    <a class="arrow arrow__left" href="chat.hbs"></a>
                </div>
            </div>

            <div class="profile__settings">

                <!-- Template #2 -->
                <div class="profile__settings-head">
                    <div class="profile__avatar">
                        <p class="profile__avatar-text">Change</p>
                        <p class="profile__avatar-text">avatar</p>
                    </div>
                    <div class="profile__name">Ivan</div>
                </div>


                <div>
                    <div class="profile__field">
                        <p class="profile__field-text profile__field-text_left">Email</p>
                        <p class="profile__field-text profile__field-text_right">pochta@mail.ru</p>
                    </div>
                    <div class="profile__field">
                        <p class="profile__field-text profile__field-text_left">Login</p>
                        <p class="profile__field-text profile__field-text_right">Ivanivanov</p>
                    </div>
                    <div class="profile__field">
                        <p class="profile__field-text profile__field-text_left">First Name</p>
                        <p class="profile__field-text profile__field-text_right">Ivan</p>
                    </div>
                    <div class="profile__field">
                        <p class="profile__field-text profile__field-text_left">Last Name</p>
                        <p class="profile__field-text profile__field-text_right">Ivanov</p>
                    </div>
                    <div class="profile__field">
                        <p class="profile__field-text profile__field-text_left">Display Name</p>
                        <p class="profile__field-text profile__field-text_right">Ivan</p>
                    </div>
                    <div class="profile__field">
                        <p class="profile__field-text profile__field-text_left">Phone</p>
                        <p class="profile__field-text profile__field-text_right">+7 (909) 967 30 30</p>
                    </div>
                </div>

                <div>
                    <div class="profile__field">
                        <a class="profile__link_redir"><p class="profile__field-text">Update profile</p></a>
                    </div>
                    <div class="profile__field">
                        <a class="profile__link_redir"><p class="profile__field-text">Change password</p></a>
                    </div>
                    <div class="profile__field">
                        <a class="profile__link_logout"><p class="profile__field-text">Log out</p></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>