<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../main.less">
    </head>
    <body>
        <div class="profile">
            {{> buttons/back }}

            <div class="profile__settings">

                <!-- Template #2 -->
                <div class="profile__settings-head">
                    {{> profile/avatar}}
                    {{> profile/name profilePageData.fields.firstName.content }}
                </div>

                {{> profile/staticInfoList profilePageData }}

                {{> profile/settingButtonsList profilePageData.buttons }}
            </div>
        </div>
    </body>
</html>