<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../main.less">
    </head>
    <body>
        <main class="error">
            {{> errors/information errorPagesData.internalServer }}
            {{> buttons/redirect errorPagesData.internalServer.redirect }}
        </main>
    </body>
</html>