<section class="login {{ this.formClass }}">
    {{> enterForm/formTitle this.title }}
    <form class="login__form">
        {{> listFields this }}

        {{> formButtons this }}
    </form>
</section>