<div class="header">
    <div class="header__profile">
        <div class="header__avatar"></div>
        <span class="header__name">{{ name }}</span>
    </div>
<!--    <button class="header__action">-->
<!--        <div class="header__image"></div>-->
<!--    </button>-->
    {{{ button }}}

</div>
