<div class="discussion__message discussion__message_{{ positionClass }}">
    <div class="discussion__box discussion__box_{{ backgroundClass }}">
        <p class="discussion__text">{{ message }}</p>
        <p class="discussion__time">{{ date }}</p>
    </div>
</div>

